{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<main class="container mt-4">
    <h1>О нас</h1>
    <p>Мы — команда энтузиастов, которая создает удобные и современные веб-решения для наших клиентов. Наша цель —
        сделать ваш онлайн-опыт максимально комфортным и эффективным.</p>
    <p>С 2020 года мы помогаем бизнесам развиваться в цифровом мире, предлагая индивидуальные решения и инновационные
        подходы.</p>

    <h2>О разработчике</h2>
    <p>Меня зовут Валерий и я — веб-разработчик с опытом работы более месяца. Я специализируюсь на создании современных
        и отзывчивых веб-приложений с использованием Python, Flask, Django и JavaScript.</p>
    <p>Моя цель — создавать качественные продукты, которые решают задачи пользователей и приносят пользу бизнесу. Если у
        вас есть идея для проекта, я всегда готов помочь воплотить её в жизнь!</p>
</main>

{% endblock %}
