{% extends 'my_app/base.html' %}

{% block content %}
<main class="container mt-4">

<h3>{{ product.name }}</h3>

<table class="table">
    <tbody>
        {% for field, value in product_fields.items %}
        <tr>
            <th>{{ field|title }}:</th>
            <td>
                {% if field == 'price' %}
                    {{ value }} руб.
                {% else %}
                    {{ value|default:"-" }}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{% url 'product_edit' product.id %}" class="btn btn-sm btn-outline-primary">
    Редактировать товар
</a>

<a href="/products_list/" class="btn btn-sm btn-outline-primary">
    Назад
</a>

</main>
{% endblock %}
